<!DOCTYPE html>
<html lang="en" ng-app="ngoapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="youth ngo portal for youth development and youth engagement. connect with ngos. listing of ngo whose primary work is education, poverty, girls education, ">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>NGO List - Youth NGO portal</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <script src="assets/js/libs/angular.min.js"></script>
    <script src="assets/js/app.js"></script>


    <!--  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Youth NG<i class="fa fa-circle"></i> Portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">HOME</a>
                    </li>
                    <li class="active"><a href="ngos.html">NGO'S</a>
                    </li>
                    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div id="blue">
        
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>WE WORK HARD TO ACHIEVE EXCELLENCE</h4>
                    <p>AND WE ARE HAPPY TO DO IT</p>
                </div>
            </div>
            <!-- row -->
        
        <!-- container -->
    </div>
    <!--  bluewrap -->


    <div class="container">

        <div class="row">

            <div ng-app="" ng-init="firstName='John'">

                <p>The name is <span ng-bind="firstName"></span>
                </p>

            </div>

        </div>
        <!-- row -->
        <div class="row" id="userList">
            <br>
            <br>
            <div ng-controller="ListCtrl">

                <h1>Find NGO's </h1>
                <h4></h4>
                <hr>
                <div class="clearfix">
                    <ul class="nav nav-pills pull-right">
                        <li ng-class="{'active':mode==1}" title="list"><a href="#" ng-click="mode=1"><i class="fa fa-list fa-4x"></i></a>
                        </li>
                        <li ng-class="{'active':mode==2}" title="thumbs"><a href="#" ng-click="mode=2"><i class="fa fa-th fa-4x"></i></a>
                        </li>
                        <li ng-class="{'active':mode==3}" title="big thumbs"><a href="#" ng-click="mode=3"><i class="fa fa-th-large fa-4x"></i></a>
                        </li>
                    </ul>
                </div>
                <hr>

                <div class="row">
                    <form class="form-inline">
                        <input ng-model="query" type="text" placeholder="Search Here" autofocus>
                    </form>
                    <br>

                    <div ng-repeat-start="ngo in ngos | filter:query |orderBy:'name' " ng-class="{'col-xs-4':mode==1, 'col-xs-3':mode==2, 'col-xs-6':mode==3}">

                        <div class="well">
                        	<a href="" ng-click="open()"><img src="{{ngo.image}}" class="img-responsive"></a>
                            <h3 class="cap" ng-hide="mode==1">{{ngo.name}}</h3>
                            <!-- <h4 class="text-muted">{{ngo.information}}</h4> -->

                            <p ng-show="mode==3">
                                {{ngo.city}}, {{ngo.state}}<br> 
                                {{ngo.email}}<br >
                                {{ngo.phone}}
                            </p>
                        </div>
                    </div>

                    <div ng-class="{'col-xs-8':mode==1, 'col-xs-6':mode==3}" ng-hide="mode==2||mode==3">
                        <h2 class="cap">{{ngo.name}}</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    {{ngo.founded}}, {{ngo.state}}<br> <br> 
                                    {{ngo.infromation}}
                                    {{ngo.founder}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat-end="" ng-class="{'clearfix':mode==1}"></div>

                </div>
            </div>
            <!--/row-->

           <!--  <div modal="showModal" close="cancel()">
			    <div class="modal-header">
			        <h4>Modal Dialog</h4>
			    </div>
			    <div class="modal-body">
			        <p>Example paragraph with some text.</p>
			    </div>
			    <div class="modal-footer">
			        <button class="btn btn-success" ng-click="ok()">Okay</button>
			        <button class="btn" ng-click="cancel()">Cancel</button>
			    </div>
			</div> -->

            

            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 id="myModalLabel" class="text-center"></h1>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-4"><img src="{{currUser.picture}}" class="img-thumbnail img-responsive img-circle">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h4 class="text-center"><i class="fa fa-fw fa-map-marker fa-2x"></i> {{currUser.location.street}} {{currUser.location.city}}, {{currUser.location.state}}</h4>
                                    <h4 class="text-center"><i class="fa fa-fw fa-phone fa-2x"></i> {{currUser.cell}}</h4>
                                    <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{currUser.email}}</h4>
                                    <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{currUser.username}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer bg-info">
                            <button class="btn btn-lg btn-default center-block" data-dismiss="modal" aria-hidden="true">Okay!</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/modal-->

            <!--/container-->

        </div>
    </div>

    </div>
    <!-- container -->


	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				copyright youth ngo portal - 2015
				<!-- <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a> -->
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        	<p>We are available 24/7, so don't hesitate to contact us.</p>
		        	<p>
		        		Somestreet Ave, 987<br/>
						London, UK.<br/>
						+44 8948-4343<br/>
						hi@blacktie.co
		        	</p>
		        	<div id="mapwrap">
		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
					</div>	
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
